#loginWindow {
    width: 400px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
}

#loginWelcome {
    text-align: center;
    margin-bottom: 30px;
}

input[type=text], input[type=password] {
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
}

.footer {
    /*position: absolute;*/
    bottom: 0;
    border-top: 1px solid black;
    height: 40px;
    text-align: center;
}

.header-menu {
    padding: 10px;
}

.navbar {
    text-align: center;
    border-bottom: 1px solid grey;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    text-decoration: none;
    border-right: 2px solid black;
    font-size: large;
}

.navbar li:last-child {
    border-right: none;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.numTixRemove {
    display: inline-flex !important;
}

.fadeInOnLoad {
    -webkit-animation: fadeInOnLoad 2s;
    animation: fadeInOnLoad 2s;
}

@-webkit-keyframes fadeInOnLoad {
    from { opacity: 0; }
    to   { opacity: 1; }
}
